---
import Layout from '../layouts/layout.astro';
import Animation from '../components/animation.svelte';
---

<Layout title="Welcome to Astro.">
    <main>
        <Animation client:load />
    </main>
</Layout>
