---
import Layout from '../layouts/layout.astro';
import Hero from '../components/hero/hero.svelte';
import Chillin from '../components/experience/chillin.svelte';
---

<Layout title="Kinda stinky">
    <main>
        <Hero client:load />
        <Chillin client:load />
    </main>
</Layout>
